NEXT_PUBLIC_SUPABASE_URL=Your Supabase URL here
NEXT_PUBLIC_SUPABASE_ANON_KEY=Supabase Anon Key here
SUPABASE_SERVICE_ROLE_KEY=Supabase Service Role Key here
STRIPE_SECRET_KEY=Stripe Secret Key here
STRIPE_WEBHOOK_SECRET=Stripe Webhook here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=Stripe Publishable Key here
RESEND_API_KEY=Resend API Key here
